@charset "UTF-8";
/*==========  Desktop First Method  ========== */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /* */ }
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /* */
  .top-menu ul {
    display: none; }

  .toggle-mnu {
    display: block; } }
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /*Disable Animation on Mobile Devices */
  .animated {
    /*CSS transitions */
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms */
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations */
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important; } }
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /* */ }
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /* */ }
/*==========  Mobile First Method  ========== */
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /* */ }
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /* */ }
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /* */ }
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /* */
  .toggle-mnu {
    display: none; } }
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /* */ }
body {
  background-color: #333; }
  body a {
    color: #fb0106; }

html body {
  font-family: "Exo 2", sans-serif;
  font-size: 16px; }

.wrapper {
  border-top: 20px #fb0106 solid; }

.header-wrapp {
  position: relative; }

.logo-wrapp {
  float: left; }
  .logo-wrapp img {
    width: 120px;
    margin-top: 30px; }

.top-menu {
  float: right; }

.top-menu .sf-menu {
  position: static;
  float: none; }
  .top-menu .sf-menu li {
    white-space: normal;
    position: static; }
  .top-menu .sf-menu > li > ul {
    width: auto;
    left: auto; }
    .top-menu .sf-menu > li > ul .sf-with-ul:after {
      font-family: "FontAwesome";
      content: "";
      right: 1em;
      position: absolute; }

.toggle-mnu {
  float: right;
  margin-top: 30px;
  position: relative;
  z-index: 2;
  width: 28px;
  height: 28px; }
  .toggle-mnu span:after, .toggle-mnu span:before {
    content: "";
    position: absolute;
    left: 0;
    top: 9px; }
  .toggle-mnu span:after {
    top: 18px; }
  .toggle-mnu span {
    position: relative;
    display: block; }
  .toggle-mnu span, .toggle-mnu span:after, .toggle-mnu span:before {
    width: 100%;
    height: 2px;
    background-color: #666;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px; }
  .toggle-mnu.on span {
    background-color: transparent; }
  .toggle-mnu.on span:before {
    transform: rotate(45deg) translate(-1px, 0px); }
  .toggle-mnu.on span:after {
    transform: rotate(-45deg) translate(6px, -7px); }

.container .hidden {
  display: none; }

.responsive-img {
  width: 100%; }

.top-menu .sf-menu a {
  color: #333;
  background-color: #FFF;
  text-decoration: none; }
.top-menu .sf-menu ul {
  min-width: 11em; }
.top-menu .sf-menu .sf-mega {
  background-color: #FFF;
  padding: 25px 0px; }
  .top-menu .sf-menu .sf-mega ul {
    display: block;
    float: none;
    position: relative;
    box-shadow: none; }
.top-menu .sf-menu > li {
  background-color: #fff;
  border-left: #ddd 1px solid; }
  .top-menu .sf-menu > li:last-child {
    border-right: #ddd 1px solid; }
  .top-menu .sf-menu > li > a {
    padding: 20px 20px;
    transition: all 0.5s ease;
    border-bottom: 5px solid transparent; }
    .top-menu .sf-menu > li > a + * {
      border-top: 5px solid #fb0106; }
      .top-menu .sf-menu > li > a + * a {
        transition: all 0.25s ease;
        border-bottom: #ddd 1px solid; }
        .top-menu .sf-menu > li > a + * a:hover {
          color: #fb0106; }

.mega-sub {
  margin-bottom: 30px; }
  .mega-sub i {
    margin-right: 10px; }

.sf-menu .container-fluid {
  padding-right: 15px !important;
  padding-left: 15px !important;
  margin-right: auto !important;
  margin-left: auto !important; }
.sf-menu .row {
  margin-right: -15px !important;
  margin-left: -15px !important; }
.sf-menu .col-lg-1, .sf-menu .sf-menu .col-lg-10, .sf-menu .sf-menu .col-lg-11, .sf-menu .sf-menu .col-lg-12, .sf-menu .sf-menu .col-lg-2, .sf-menu .sf-menu .col-lg-3, .sf-menu .sf-menu .col-lg-4, .sf-menu .sf-menu .col-lg-5, .sf-menu .sf-menu .col-lg-6, .sf-menu .sf-menu .col-lg-7, .sf-menu .sf-menu .col-lg-8, .sf-menu .sf-menu .col-lg-9, .sf-menu .sf-menu .col-md-1, .sf-menu .sf-menu .col-md-10, .sf-menu .sf-menu .col-md-11, .sf-menu .sf-menu .col-md-12, .sf-menu .sf-menu .col-md-2, .sf-menu .sf-menu .col-md-3, .sf-menu .sf-menu .col-md-4, .sf-menu .sf-menu .col-md-5, .sf-menu .sf-menu .col-md-6, .sf-menu .sf-menu .col-md-7, .sf-menu .sf-menu .col-md-8, .sf-menu .sf-menu .col-md-9, .sf-menu .sf-menu .col-sm-1, .sf-menu .sf-menu .col-sm-10, .sf-menu .sf-menu .col-sm-11, .sf-menu .sf-menu .col-sm-12, .sf-menu .sf-menu .col-sm-2, .sf-menu .sf-menu .col-sm-3, .sf-menu .sf-menu .col-sm-4, .sf-menu .sf-menu .col-sm-5, .sf-menu .sf-menu .col-sm-6, .sf-menu .sf-menu .col-sm-7, .sf-menu .sf-menu .col-sm-8, .sf-menu .sf-menu .col-sm-9, .sf-menu .sf-menu .col-xs-1, .sf-menu .sf-menu .col-xs-10, .sf-menu .sf-menu .col-xs-11, .sf-menu .sf-menu .col-xs-12, .sf-menu .sf-menu .col-xs-2, .sf-menu .sf-menu .col-xs-3, .sf-menu .sf-menu .col-xs-4, .sf-menu .sf-menu .col-xs-5, .sf-menu .sf-menu .col-xs-6, .sf-menu .sf-menu .col-xs-7, .sf-menu .sf-menu .col-xs-8, .sf-menu .sf-menu .col-xs-9 {
  padding-right: 15px !important;
  padding-left: 15px !important; }

.menu-new-item {
  margin-bottom: 30px; }
  .menu-new-item h3 {
    margin: 15px 0; }
  .menu-new-item a {
    padding: 0;
    font-size: 18px;
    text-decoration: underline; }
  .menu-new-item p {
    font-size: 14px;
    color: #666; }

.top-menu .sf-menu > li > a + * .menu-new-item a {
  border-bottom: none;
  color: #fb0106; }
  .top-menu .sf-menu > li > a + * .menu-new-item a:hover {
    color: #333; }

/*# sourceMappingURL=styles.css.map */
